* {
    font-family: 'Cambria';
}

body {
    margin: 0px;
}

nav, section {
    background-color: #E1BEE7;
    width: 25%;
}

nav {
    height: 400px;
    float: left;
}

section {
    height: 330px;
    float: left;
}

header, main {
    width: 75%;
    font-size: 170%;
    text-align: center;
}

header {
    background-color: #9C64A6;
    color: white;
    height: 150px;
    letter-spacing: 5px;
    float: right;
}

main {
    color: Indigo;
    height: 580px;
    float: right;
}

footer {
    clear: both;
    background-color: #9C64A6;
    color: white;
    padding: 10px;
}

h2 {
    text-align: center;
}

ul {
    list-style-type: circle;
}

img {
    padding: 4px;
    margin: 15px;
}

img:hover{
    padding: 3px;
    border: 1px dashed indigo;
}

a{
    padding: 25px;
}