body {
    font-family: 'Garamond';
    display: flex;
    flex-wrap: wrap;
}

#left {
    background-color: #00600F;
    color: white;
    text-align: center;
    width: 75%;
    height: 90px;
}

#right {
    background-color: #00600F;
    color: white;
    width: 25%;
    height: 90px;
}

main {
    background-color: #C8E6C9;
    height: 600px;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
}

footer {
    background-color: #00600F;
    color: white;
    clear: both;
    width: 100%;
}

h5 {
    background-color: #00600F;
    color: white;
    font-size: 200%;
    text-align: center;
    margin: 0px;
}

h2 {
    text-align: right;
}

.product {
    margin: 10px;
    border: solid 1px #00600F;
    width: 300px;
}